<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="static\images\Coding outreac-logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"  crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Yellowtail&display=swap" rel="stylesheet">
    <script src="https:kit.fontawsome.com/4e55c5f54e.js" crossorigin="anonymous"></script>

    <title>{% block title %} {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    {% load static %}
    <script src="{% static 'js\bootstrap.min.js' %}" ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}" /> 
    {% load static %}
    <link rel="stylesheet" href="{% block cssd %} {% endblock %}" /> 
    <style>


    </style>
  </head>
  <body>
    <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mad">
        <div class="container-fluid mad">
          <h1 class="logo-cod">Coding<span class="logo-color">out</span>reach</h1>
          <!-- <a class="navbar-brand" href="/">NB</a> -->
          <button
          class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contactus">Contact</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Topics
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/project">Projects</a></li>
                  <li><a class="dropdown-item" href="#">Courses</a></li>
                  <li><a class="dropdown-item" href="#">Tech News</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Explore more</a>
                  </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mx-2">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"/>
              <button class="btn btn-outline-success " type="submit">Search</button>
            </form>
            <!-- <div class="dropdown">
              <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="static/images/user.png" alt="user" style="height: 30px; width: 30px;">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    
                <li><a class="dropdown-item" href="/profile/{{request.user}}">Profile</a></li>
                <li><a class="dropdown-item" href="/Messages/{{request.user}}">Messages</a></li>
                {% if usertype == "Seller" %}
                <li><a class="dropdown-item" href="/carsell/input">Upload Car</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul> -->
            <a href="/login">
              <button type="button" class="btn btn-outline-primary mx-2">Login</button></a>
              <a href="/register"><button type="button" class="btn btn-outline-primary">Register</button></a>
              
            </div>
          </div>
        </div>
      </nav>
      <!-- navbar ends -->

    {% block body %} {% endblock %}

        <script src="{% block jsd %} {% endblock %}" ></script> 
  </body>
</html>
